doctype html
html( lang = 'en' )
    include ./assets/partials/head
    body.bg-neutral-900
        a( href = '#' )
            i.fa-sharp.fa-chevron-up.fa-solid.fixed.right-10.bottom-8.text-neutral-200.text-lg( class = 'hover:text-white' )
        include ./assets/partials/header
        include ./assets/partials/tracklist
        include ./assets/partials/listen
        include ./assets/partials/images
        include ./assets/partials/footer
