-
    const date = new Date().getFullYear();


footer.h-48.flex.justify-center.items-center.border.border-neutral-700.border-t-1.border-b-0.border-r-0.border-l-0
    p.text-neutral-200.text-sm.font-light Copyright © #{ date } - Tom Torment - All Rights Reserved
