section#images.flex.flex-wrap.p-8( class = 'lg:p-48 md:p-24' )
    - for ( i = 0; i < 2; ++ i )
        .flex.items-center.w-full.my-24( class = `lg:w-1/2 ${ i !== 0 ? 'lg:my-48' : '' }` )
            img.w-full(
                src = `./assets/img/img${ i === 0
                    ? 5
                    : 6
                }.jpg`
                class = i !== 0
                    ? 'lg:w-2/3'
                    : 'lg:w-3/4'
            )

        .flex.w-full.justify-center.items-center( class = `lg:w-1/2 ${ i !== 0
            ? 'lg:justify-center lg:items-end'
            : 'lg:justify-end lg:items-start'
        }` )
            img.object-contain.w-full(
                src = `./assets/img/img${ i === 0
                    ? 4
                    : 2
                }.jpg`
                class = i !== 0
                    ? 'lg:w-5/6'
                    : 'lg:w-3/4'
            )

    .flex.justify-center
        img.mt-24.px-0.mb-16(
            src   = './assets/img/img7.jpg'
            class = 'lg:px-12 lg:mt-36 lg:mb-0'
        )
