section#listen.px-32
    iframe(
        width       = '100%'
        style       = 'height: 100vh; margin-top: 12rem'
        scrolling   = 'no'
        frameborder = 'no'
        allow       = 'autoplay'
        src         = 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/934637650&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
    )
    iframe(
        width       = '100%'
        style       = 'height: 100vh; margin: 12rem 0 8rem 0'
        src         = 'https://www.youtube.com/embed/J-JUez-lSBY'
        title       = 'YouTube video player'
        frameborder = '0'
        allow       = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
        allowfullscreen
    )
