-
    const tracklist = [
        'Intro',
        'Riding through the city at night',
        'It rains where you are not',
        'Interlude',
        'Leaving',
        'When will you realize'
    ];

section#tracklist.flex.flex-wrap( class = 'lg:px-32 px-8' )
    .flex.w-full.justify-center.pr-0( class = 'lg:w-3/5 lg:justify-end lg:pr-12' )
        img.mt-10(
            src = './assets/img/img2.jpg'
            alt = 'album cover'
        )
    .text-neutral-200.font-light.w-full.mt-10( class = 'lg:w-2/5 lg:mt-0 md:mt-16' )
        h2.text-lg( class = 'md:text-center lg:text-left' ) Tom Torment - Sorrow
        ul.mt-4
            each el, index in tracklist
                li.my-4.font-thin( class = 'lg:font-light md:text-center lg:text-left' )= `${ index + 1 }. ${ el }`
        p.mt-12.text-xs( class = 'md:text-center lg:text-left' ) Everything written and produced by Tom Torment
